.list {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list li h3, .list li p {
    color: inherit;
}

.list li:hover {
    color: var(--dark-highlight);
    cursor: pointer;
}

.list a:visited,
.list a:hover,
.list a:active,
.list a {
    color: inherit;
}

.topBorder {
    line-height: 0;
    padding: 0;
    margin: 0;
}